@charset "UTF-8";

@import 'bootstrap/bootstrap-reboot.scss';
@import 'bootstrap/bootstrap-grid.scss';
@import 'bootstrap/bootstrap.scss';
@import 'variables';
@import 'fonts';
@import 'slick';
@import 'slick-theme';
@import 'selectric';
@import 'checkator';
  
body {
    background-color: #dadada;
    line-height: 1.5em;
    font-weight: 300;
    color: $normal-gray;
    font-size: 14px;
    @media (min-width: 1480px) {    
        font-size: 17px;
        line-height: 25px;        
    }
    b,
    strong {
        font-weight: 900;
    }
}
h1, h2, h3 {
    font-family: 'Roboto';
    font-weight: 900;
}
p {
    margin-bottom: 25px;
}
.z1 {
    position: relative;
    z-index: 1;
}
.z2 {
    position: relative;
    z-index: 2;
}
h2, .h2,
.title {
    color: $dark-gray;
    font-size: 38px;
    line-height: 44px;
    strong {
        color: $theme-color;
    }
}
.bg-dark {
    background-color: #0f0f0f;
    color: $white;
    h2, .h2,
    .title {
        color: $white;
        strong {
            color: $theme-color;
        }
    }
}
.bg-light {
    background-color: #F8F8F8; 
}
.bg-color {
    background-color: $theme-color;
    h2, .h2,
    .title {
        strong {
            color: $white;
        }
    }
}

.vc_btn3,
.btn {
    position: relative;
    overflow: hidden;
    border: 1px solid;
    padding: 1.5rem 2rem;
    border-radius: inherit;
    transition: all 0.4s;
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    @media (min-width: 1480px) {    
        font-size: 16px;
    }
    span.txt {
        position: relative;
        z-index: 1;
    }
    i {
        position: relative;
        z-index: 2;
    }
    .effect {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $theme-color2;
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 0;
        top: 156px;
        left: 379.5px;
        font: 0/0 'a';
        color: transparent;
    }
    &.btn-default {
        border: none;
        background-color: $theme-color;
        color: $white;
        .effect {
            background-color: $theme-color2;
        }
        &:hover {
            border-color: $theme-color2;
            color: $white;
        }
    }
    &.btn-secondary {
        border-color: $white;
        background-color: $white;
        color: $theme-color;
        .effect {
            background-color: $theme-color2;
        }
        &:hover {
            border-color: $theme-color2;
            color: $white;
        }
    }
    &:hover {
        .effect {
            width: 225%;
            height: 562.5px;
        }
    }
}
.page-template-default {
    .vc_btn3 {
        border: 1px solid;
        padding: 1.5rem 2rem;
        border-radius: inherit;
        transition: all 0.4s;
        font-size: 14px;
        font-weight: 700;
        border-radius: 30px;
        border-color: $theme-color;
        background-color: $theme-color;
        color: $white;
        &:hover {
            background-color: $theme-color2;
            color: $white;
            border-color: $theme-color2;
        }
        @media (min-width: 1480px) {    
            font-size: 16px;
        }
    }
    #content .wpb_wrapper {
        h2 {
            margin-bottom: 3rem;
        }
    }
}
.two-col {
    @media(min-width: 480px) {    
        column-count: 2;
    }
}
.bg-gray {
    background-color: $medium-gray;
    .highlighted-header .subtitle {
        color: $medium-gray-2;
    }
}
.bg-light-gray {
    background-color: $light-gray;
}

#page {
    overflow: hidden;
}
.loading-nival {
    display: block;
    position: fixed;
    left: 50px;
    top: 50px;
    transform: translate(0,0);
    width: 0vw;
    height: 0vw;
    background-color: $theme-color;
    z-index: 100;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    overflow: hidden;
    .start-animation & {
        width: 300vw;
        height: 300vw;
        transform: translate(-100vw,-100vw);
    }
    .finish-animation & {
        width: 0vw;
        height: 0vw;
        left: 50%;
        top: 50%;
        transform: translate(-50vw,-50vw);
        transition: all 0.5s ease 0s;
    }
    /*.show-logo & {
        &:before {
            content: "";
            display: block;
            width: 150px;
            height: 150px;
            position: fixed;
            left: 50%;
            top: 20%;
            background: url('../images/logo-symbol.svg') no-repeat 50% 50%;
            background-size: contain;
        }
    }*/
}

#site-header-sticky-wrapper.is-sticky #site-header,
#site-header {
    background: #000;
    .navbar-style-one {
        .dropdown-menu {
            display: block;
            position: relative;
            background: transparent;
            border: none;
            padding: 0;
            > li {
                > a {
                    color: #fff;
                    font-size: 17px;
                    font-weight: 300;
                    padding: 25px 20px;
                    height: 98px;
                    &.sf-with-ul {
                        position: relative;
                        padding-right: 30px;
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            width: 14px;
                            height: 8px;
                            margin: -4px 0 0;
                            background: url('../images/arrow-bottom-white-sm.svg') no-repeat 0 0;
                        }
                    }
                    span {
                        padding: 0;
                    }
                    &:hover {
                        background-color: $theme-color;
                    }
                }
                &.current-menu-ancestor,
                &.current_page_item {
                    > a {
                        background-color: $theme-color;
                    }
                }
                &.menu-item-182 {
                    > a {
                        .single-servizi &,
                        .post-type-archive-servizi & {
                            background-color: $theme-color;
                        }
                    }
                }
            }
            .sfHover {
                background-color: $theme-color;                
            }
            .sub-menu {
                margin-top: -1px;
                &:after,
                &:before {
                    display: none;
                }
            }
            ul {
                background-color: #212121;
                font-size: 17px;
                border: none;
                a {
                    color: $white;
                    border: none;
                    padding: 10px 20px;
                    &:hover {
                        background-color: #4A4A4A; 
                    }
                }
                li {
                    border: none;
                }
                .sfHover {
                    background-color: #4A4A4A; 
                }
            }
        }
    }
    #site-header-inner {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 100%;
    }
    .navbar-style-one {
        right: 15px;
        top: 0;
        margin: 0;
    }
    #mobile-menu {
        margin-right: 15px;
    }
}
#sidr-main {
    .sidr-inner {
        a {
            color: $white;
        }
    }
}
@media (max-width: 991px) {
    .rev_slider_wrapper {
        .tp-parallax-wrap {
            &:nth-child(3) {
                .tp-mask-wrap {
                    margin-top: 50px;
                }
            }
        }
    }
}

.rev_slider {
    .tp-caption {
        text-align: center!important;
        line-height: 1.1em!important;
    }
}
/*numeri*/
.list-numeri {
    padding-top: 60px;
    @media (max-width: 991px) {
        h2 {
            strong {
                display: block;
            }
        }
    }
}
.numeri-item {
    position: relative;
    min-height: 250px;
    .img {
        position: absolute;
        left: 0;
        top: 50%;
        text-align: center;
        width: 100%;
        transform: translate(0,-50%);
        z-index: 0;
    }
    .description {
        position: absolute;
        left: 0;
        top: 50%;
        text-align: center;
        width: 100%;
        transform: translate(0,-50%);
        z-index: 1;
        h4 {
            color: $normal-gray;
            font-size: 24px;
            font-weight: 900;
        }
        h3 {
            font-size: 58px;
            line-height: 50px;
            color: $theme-color;
            @media (min-width: 992px) {
                font-size: 98px;
                line-height: 90px;
            }
            sub {
                line-height: 60px;
                font-size: 30px;
                bottom: 35px;
                vertical-align: text-top;
                @media (min-width: 992px) {
                    line-height: 90px;
                    font-size: 70px;
                    bottom: 15px;
                }
            }
        }
    }
}

.wpcf7 {
    label {
        margin-bottom: 15px;
        max-width: 100%;
        width: 100%;
    }
    .wpcf7-text {
        background-color: $white;
        height: 40px;
        border: solid 1px #646569;
    }
    .wpcf7-select {
        background-color: $white;
        height: 40px;
        border: solid 1px #646569;
        width: 100%;
        font-weight: 700;
    }
    
    .wpcf7-submit {
        background-color: $theme-color;
        border-radius: inherit;
        border: 1px solid;
        font-size: 1.6rem;
        border: none;
        padding-left: 35px;
        padding-right: 35px;
        width: 180px;
    }
    .lb-acept {
        > span {
            font-size: 10px;
            float: left;
        }
        .wpcf7-list-item {
            float: left;
            input {
                margin: 0 5px -3px;
                position: relative;
                top: 3px;
            }
        }
    }
    .wpcf7-mail-sent-ok {
        display: none!important;
    }
}

.page-header {
    background-color: $theme-color;
    color: $white;
    height: 230px;
    border: none;
    padding-bottom: 35px;
    margin-bottom: 40px;
    @media (min-width: 992px) {
        height: 304px;
        padding-bottom: 65px;
        margin-bottom: 80px;
    }
    h1 {
        font-size: 34px;
        margin-bottom: 2rem;
        @media (min-width: 992px) {
            font-size: 48px;
        }
    }
    .breadcrumb {
        background-color: transparent;
        border: none;
        padding: 0;
        color: #CCE1A6;
        font-size: 17px;
        font-weight: 700;
        a {
            color: #CCE1A6;
            &:hover {
                color: $white;
            }
        }
    }
}

.immagine_testo {
    background-color: $theme-color;
    color: $white;
    margin-top: 30px;
    margin-bottom: 30px;
    @media (min-width: 992px) {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    figure {
        @media (min-width: 992px) {
            margin-top: -100px;
            margin-bottom: -100px;
        }
    }
    h2 {
        color: $dark-gray;
        margin-bottom: 3rem;
        margin-left: -2rem;
        @media (max-width: 991px) {
            strong {
                display: block;
            }
        }
        strong {
            color: #fff;
        }
        p {
            color: $white;
        }
    }
}

.servizi-list {
    .thumb {
        overflow: hidden;
        display: block;
        border-bottom: 10px solid $theme-color;
        img {
            display: block;
            width: 100%;
            height: auto;
            transform: scale(1);
            transition: all 0.5s;
        }
    }
    .card {
        border: 1px solid #C2C2C2;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 30px;
        &:hover {
            .thumb {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
    h2 {
        margin-bottom: 3rem;
    }
    h3 {
        color: $dark-gray;
        font-size: 22px;
        line-height: 26px;
        font-weight: 300;
    }
    .description {
        padding: 5px 15px;
        height: 110px;
        text-align: center;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
}
/* .slick-track {
    display: flex;
    align-items: stretch; 
    justify-content: center;
} */
.list-slider-brands {
    padding-bottom: 50px;
    position: relative;
    .item {
        width: 388px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .slick-track {
        display: flex;
        align-items: stretch; 
        justify-content: center;
    }
    .slick-list {
        margin-bottom: 100px;
        padding-bottom: 40px;
    }
    .slick-arrow {
        position: absolute;
        left: 50%;
        bottom: 5px;
        top: auto;
        background-color: $theme-color;
        font-size: 0;
        color: transparent;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        &.slick-next {
            margin-left: 19px;
            &:after {
                content: "\f105";
                font: 40px/1 'FontAwesome';
                color: #fff;
            }
        }
        &.slick-prev {
            margin-left: -64px;
            &:after {
                content: "\f104";
                font: 40px/1 'FontAwesome';
                color: #fff;
            }
        }
    }
}

.slider-image-text {
    img {
        @media (min-width: 992px) {
            float: right;
            top: 50%;
            max-width: 50%;
            position: absolute;
            right: 0;
            transform: translate(0,-50%);
        }
    }
    .wpb_wrapper {
        overflow: hidden;
        .wpb_text_column {
            position: relative;
            @media (min-width: 992px) {
                padding-right: 50%;
                padding-top: 100px;
                min-height: 450px;
            }
        }
    }
    h2 {
        padding-top: 6rem;
        font-size: 38px;
        line-height: 44px;
    }
    p {
        color: $white;
        a {
            color: $white;
            border-bottom: 2px solid $white;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .slick-arrow {
        position: absolute;
        left: 50%;
        bottom: 5px;
        background-color: $white;
        font-size: 0;
        color: transparent;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        transition: all 0.4s;
        &.slick-next {
            margin-left: 19px;
            &:after {
                content: "\f105";
                font: 40px/1 'FontAwesome';
                color: $theme-color;            
            }
        }
        &.slick-prev {
            margin-left: -64px;
            &:after {
                content: "\f104";
                font: 40px/1 'FontAwesome';
                color: $theme-color;                
            }
        }
        &:hover {
            background-color: $theme-color2;
            &:after {
                color: $white;
            }
        }
    }
}

.image-different {
    .wpb_wrapper {
        display: flex;
    }
    .wpb_single_image {
        width: 60%;
        height: auto;
        padding: 15px;
        + .wpb_single_image {
            width: 40%;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.i-nostri-numeri {
    min-height: 819px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url('../images/nival-gruppo-nostri-numeri.jpg') no-repeat 50% 50%;
    background-size: cover;
    .i-nostri-numeri {
        background: transparent;
    }
    .vc_column-inner {
        @media(max-width: 991px) {
            margin-bottom: 0;
        }
    }
    .wpb_wrapper .vc_row .wpb_text_column {
        width: 300px;
        padding: 10px 0 10px;
        @media(min-width: 992px) {
            padding: 90px 0 30px;            
        }
        &:nth-child(1) {
            float: left;
        }
        &:nth-child(2) {
            float: right;
        }
        h3 {
            font-size: 80px;
            sub {
                font-size: 60px;
                top: -2px;
            }
        }
        p {
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

.aziende-del-gruppo {
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.content-valori {
    .text-image {
        margin-bottom: 100px;
        h3 {
            color: $theme-color;
            text-transform: uppercase;
            font-size: 17px;
            padding-top: 80px;
            position: relative;
            padding-bottom: 20px;
            &.icon01::before {
                content: "";
                display: block;
                position: absolute;
                left: -40px;
                top: 10px;
                z-index: -1;
                width: 146px;
                height: 110px;
                background: url('../images/nival-valori-massima-trasparenza.svg') no-repeat 0 0;
            }
            &.icon02::before {
                content: "";
                display: block;
                position: absolute;
                left: -40px;
                top: 10px;
                z-index: -1;
                width: 113px;
                height: 110px;
                background: url('../images/nival-valori-crescita-aziendale.svg') no-repeat 0 0;
            }
            &.icon03::before {
                content: "";
                display: block;
                position: absolute;
                left: -40px;
                top: 10px;
                z-index: -1;
                width: 114px;
                height: 120px;
                background: url('../images/nival-valori-sicurezza-formazione.svg') no-repeat 0 0;
            }
            &.icon04::before {
                content: "";
                display: block;
                position: absolute;
                left: -40px;
                top: 42px;
                z-index: -1;
                width: 132px;
                height: 70px;
                background: url('../images/nival-valori-impegno-sociale.svg') no-repeat 0 0;
            }
        }
        a {
            font-weight: 900;
            color: #4a4a4a;
            border-bottom: 2px solid $theme-color;
            &:hover {
                color: $theme-color;
                text-decoration: none;
            }
        }
    }
}
.page-template-template-i-valori,
.page-id-49 {
    #wrap {
        background-image: url('../images/nival-gruppo-bg.svg');
        background-repeat: no-repeat;
        background-position: 0 500px;
    }
}
.page-id-49 {
    .aziende-del-gruppo {
        @media (max-width: 991px) {
            h2 {
                margin: 0;
                padding: 0;
            }
            .vc_column-inner {
                margin-bottom: 0;
            }
        }
    }
    .slick-arrow {
        bottom: 0;
        top: auto;
        @media (min-width: 992px) {
            top: 100%;
            bottom: auto;
            margin-top: -40px;
            left: 0;
            &.slick-prev {
                margin-left: 0;
            }
            &.slick-next {
                margin-left: 80px;
            }
        }
    }
    .slick-slider,
    .slick-slide > div {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        .wpb_wrapper {
            @media (max-width: 991px) {
                padding-bottom: 120px;
            }
            @media (min-width: 992px) {
                height: 400px;
            }
            a {
                font-weight: 700;
                transition: all 0.4s;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.call-to-contact {
    position: relative;
    overflow: hidden;
    height: 332px;
    background-color: #353535;
    .page-template-template-le-aziende_dettaglio &,
    .page-template-template-i-valori &,
    .page-id-49 & {
        display: none!important;
    }
    &:after {
        position: absolute;
        z-index: 0;
        content: "";
        width: 3000px;
        left: 50%;
        top: 50%;
        background-color: #212121;
        height: 3000px;
        transform: rotate(26deg) translate(-12%, -50%);

    }
    .container {
        position: relative;
        z-index: 2;
    }
    h2 {
        display: inline-block;
        font-weight: 300;
        font-size: 28px;
        line-height: 34px;
        color: $white;
        margin-bottom: 20px;
        @media(min-width: 992px){
            font-size: 38px;
            line-height: 44px;
            margin-right: 8rem;
            margin-bottom: 0;
        }
    }
    .btn {
        i {
            margin-left: 8rem;
        }
    }
}

.post-pagination-wrap {
    background-color: $light-color;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    ul {
        padding: 0;
    }
    a {
        position: relative;
        display: block;
        font-size: 17px;
        color: #8E8E8E;
        letter-spacing: 1px;
        line-height: 27px;
        padding-top: 22px;
        padding-bottom: 30px;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.4s;
        &:hover {
            color: $white;
            background-color: $theme-color;
            text-decoration: none;
            span {
                background-color: $white;
                &:after {
                    color: $theme-color;
                }
            }
        }
        .fa {
            position: relative;
            bottom: -6px;
        }
        span {
            display: inline-block;
            background-color: $theme-color;
            font-size: 0;
            color: transparent;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            font: 0/0 'a';
            color: transparent;
            &:after {
                font: 40px/1 'FontAwesome';
                color: #fff;
                text-align: center;
                width: 100%;
                display: block;
                line-height: 60px;
            }
        }
    }
    .post-prev {
        width: 50%;
        border-right: 1px solid $white;
        @media (max-width: 991px) {
            width: 100%;
        }
        a {
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                left: -100%;
                height: 100%;
                background-color: $light-color;
                transition: all 0.4s;
            }
            &:hover {
                &:after {
                    background-color: $theme-color;
                }
            }
        }
        span {
            margin-right: 10px;
            &:after {
                content: "\f104";
            }
        }
    }

    .post-next {
        width: 50%;
        border-left: 1px solid $white;
        @media (max-width: 991px) {
            width: 100%;
        }
        a {
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                left: 100%;
                height: 100%;
                background-color: $light-color;
                transition: all 0.4s;
            }
            &:hover {
                &:after {
                    background-color: $theme-color;
                }
            }
        }
        span {
            margin-left: 10px;
            &:after {
                content: "\f105";
            }
        }
    }
}

.le-aziende_list {
    margin-bottom: 30px;
    a {
        color: #4A4A4A;
    }
    .item {
        position: relative;
        height: 400px;
        overflow: hidden;
        background: #FFFFFF;
        border: 1px solid #C2C2C2;
        box-shadow: 4px 4px 0 0 #ECECEC;
        border-radius: 8px;
        margin-bottom: 25px;
        
        .lk-go {
            color: $theme-color;
            font-weight: 700;
            svg {
                position: relative;
                top: 2px;
            }
        }
        .description {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            z-index: 2;
            opacity: 0;
            transition: all 0.5s;
            h3 {
                margin-bottom: 20px;
            }
        }
        img {
            opacity: 1;
            transition: all 0.5s;
        }
        &:hover {
            .description {
                top: 0;
                opacity: 1;
            }
            img {
                opacity: 0;
            }
        }
        .img-base {
            height: 100%;
            .img {
                position: inherit;
            }
            h3 {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 15px;
                width: 100%;
            }
        }
    }
}
.aziende-dettaglio-testo {
    @media (max-width: 991px) {
        margin-bottom: 40px;
    }
    @media (min-width: 992px) {
        padding-left: 50px;
    }    
    h2 {
        margin-bottom: 30px;
        @media (min-width: 992px) {
            margin-left: -50px;
        }
    }
    ul {
        list-style: disc;
        margin-left: 20px;
    }
    a {
        @extend .btn;
        border-color: $theme-color;
        background-color: $theme-color;
        color: $white;
        margin-top: 20px;
        position: relative;
        padding-right: 60px;
        &:after {
            content: "\f105";
            font: 40px/1 'FontAwesome';
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translate(0,-50%);
        }
        &:hover {
            background-color: $theme-color2;
            border-color: $theme-color2;
        }
    }
}

.immagine_testo-dettaglio {
    figure {
        img {
        @media (min-width: 992px) {
            float: right;
                max-width: 57vw;
                width: 57vw;
            }
        }
    }
}
.immagine_testo-dettaglio-single {
    figure {
        padding-top: 10rem;
        padding-bottom: 10rem;
        position: relative;
        margin-bottom: 0;
        display: table;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            background: -moz-radial-gradient(center, ellipse cover, #bcdd8d 0%, $theme-color 70%);
            background: -webkit-radial-gradient(center, ellipse cover, #bcdd8d 0%,$theme-color 70%);
            background: radial-gradient(ellipse at center, #bcdd8d 0%,$theme-color 70%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdd8d', endColorstr='$theme-color',GradientType=1 );
        }
        img {
            float: right;
            position: relative;
            z-index: 1;
        }
    }
}
.numeri {
    .item-numeri {
        margin-bottom: 90px;
        position: relative;
        min-height: 200px;
        padding-top: 80px;
        img {
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 0;
            transform: translate(-160px, 0);
        }
        h3 {
            font-size: 98px;
            color: #73B810;
            line-height: 95px;
            z-index: 2;
            position: relative;
        }
        h4 {
            font-size: 24px;
            color: #4A4A4A;
            line-height: 25px;
            z-index: 2;
            position: relative;
        }
    }
}
.testo-dettaglio {
    @media (min-width: 992px) {
        padding-left: 70px;
    }
    .bg-color & {
        color: $white;
    }
    h2 {
        margin-bottom: 2rem;
        @media (max-width: 991px) {
            strong {
                display: block;
            }
        }
        @media (min-width: 992px) {
            margin-left: -50px;
            margin-bottom: 4rem;
        }
    }
    ul,
    p {
        margin-bottom: 2rem;
    }
    a {
        color: $normal-gray;
        border-bottom: 2px solid $theme-color;
        font-weight: 700;
        transition: all 0.4s;
        &:hover {
            text-decoration: none;
            color: $theme-color;
        }
    }
    ul {
        list-style: disc;
        margin-left: 20px;
    }
}
.list-logos {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}



.list-caratteristiche {
    h3 {
        font-size: 17px;
        text-transform: uppercase;
        position: relative;
        color: $theme-color;
        z-index: 2;
        margin-bottom: 40px;
        .title-carac {
            position: relative;
            z-index: 2;
        }
        .number {
            position: absolute;
            left: -30px;
            top: -50px;
            font-size: 100px;
            color: #ECECEC;
            z-index: 0; 
        }
    }
}
.page-template-template-le-aziende_dettaglio,
.page-template-template-contatti {
    .bg-contatti {
        background-color: #060606;
        color: $white;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .page-header {
        margin-bottom: 0;
    }
    .content-contatti {
        position: relative;
    }
    .contatti-testo {
        @media (min-width: 992px) {
            padding-right: 100px;
        }
        font-size: 17px;
    }
    .map {
        height: 300px;
        @media (min-width: 992px) {
            position: absolute;
            width: 55%;
            height: 100%;
            right: 0;
            top: 0;
        }
        iframe {
            height: 100%;
        }
    }
    .item-sede {
        position: relative;
        padding-left: 7rem;
        padding-right: 6rem;
        margin-bottom: 8rem;
        &:after {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            display: block;
            top: 0;
            right: -1px;
            background-color: #BEBEBE;
        }
        h3 {
            color: $theme-color;
            font-size: 17px;
            letter-spacing: 1px;
            font-weight: 700;
            text-transform: uppercase;
        }
        p {
            font-size: 17px;
            color: $normal-gray;
            line-height: 25px;
            a {
                font-weight: 700;
                color: $normal-gray;
                strong {
                    font-size: 120%;
                }
                &:hover {
                    color: $theme-color;
                    text-decoration: none;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .wpcf7 {
        label {
            margin-bottom: 5px;
        }
        label {
            max-width: 100%;
            width: 100%;
        }
        .wpcf7-text {
            background-color: $white;
            height: 45px;
            border: solid 1px #353535;
            width: 100%;
            background: #353535;
            border-radius: 100px;
            color: $white;
        }
        .wpcf7-textarea {
            background-color: $white;
            height: 135px;
            border: solid 1px #353535;
            width: 100%;
            background: #353535;
            border-radius: 15px;
            color: $white;
            resize: none;
        }
        .wpcf7-select {
            background-color: $white;
            height: 45px;
            border: solid 1px #646569;
            width: 100%;
            font-weight: 700;
            color: $white;
        }
        .wpcf7-acceptance {
            label {
                font-weight: 300;
                font-size: 14px;
                text-transform: none;
            }
            .wpcf7-list-item {
                margin-right: 5px;
            }
        }
        .wpcf7-submit {
            width: auto;
            border: 1px solid;
            padding: 1.5rem 60px 1.5rem 30px;
            border-radius: inherit;
            transition: all 0.4s;
            font-size: 16px;
            font-weight: 700;
            border-radius: 30px;
            border-color: $theme-color;
            background-color: $theme-color;
            color: $white;
            i {
                position: absolute;
                font-size: 25px;
                right: 10%;
                top: 50%;
                z-index: 2;
                transform: translate(0, -50%);
            }
            &:hover {
                background-color: $theme-color2;
            }
        }
    }
    .selectric .button {
        font: 0/0 'a';
        color: transparent;
        background-image: url('../images/arrow-bottom-white.svg');
        background-repeat: no-repeat;
        background-position: 0% 50%;
        content: "";
        &:after {
            display: none;
        }
    }
}

.slick-arrow {
    z-index: 10;
    &:before {
        display: none;
    }
}
.gallery {
    position: relative;
    @media (min-width: 992px) {
        overflow: hidden;
        padding-left: 40px;
        padding-right: 40px;
    }
    .slick-list {
        overflow: hidden;
    }
    .slick-arrow {
        position: absolute;
        background-color: $theme-color;
        color: $white;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        top: 50%;
        z-index: 2;
        font: 0/0 'a';
        color: transparent;
        outline: none;
        &:hover {
            background-color: $theme-color2;
        }
        &:before {
            display: none;
        }
        &:after {
            content: "\f105";
            font: 40px/1 'FontAwesome';
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translate(0,-50%);
            color: $white;
        }
    }
    .slick-next {
        left: auto;
        right: -35px;
        @media (min-width: 992px) {
            right: 0;
        }
    }
    .slick-prev {
        left: -35px;
        @media (min-width: 992px) {
            left: 0;
        }
        &:after {
            content: "\f104";
            right: 30px;
        }
    }
}
.site-footer {
    background-color:  $dark-gray;    
    color: #fff;
    img {
        max-width: 100%;
        height: auto;
    }
    p, strong {
        color: #fff;        
    }
    ul li,
    .widget-title,
    p {
        line-height: 1.5em;
        font-size: 15px;
        margin-bottom: 0;
    }
    .sub-menu {
        display: none;
    }
    .wpex-row .span_1_of_4,
    .col-1, .col-2, .col-3 {
        max-width: 100%;
        flex: 100%;
        @media (max-width: 979px) {
            text-align: center;
        }        
        @media (min-width: 980px) {
            max-width: 33.33333%;
            flex: 33.33333%;
            width: 33.33333%;
        }
    }
    .col-4 {
        display: none;
    }
    a {
        color: $white;
        font-size: 15px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.il-gruppo-testo {
   @media(min-width: 992px) { 
        max-width: 70%;
        margin-left: 15%;
        margin-right: 15%;
   }
}
.block-vantaggi {
    position: relative;
    .container {
        position: relative;
        z-index: 2; 
        h2 {
            color: $white;
            @media(min-width: 992px) {
                padding-left: 20%;
            }
        }
        .list-vantaggi {
            width: 100%;
            @media(min-width: 992px) {
                margin-left: 5%;
            }
            h3 {
                color: $theme-color;
                margin-bottom: 15px;
            }
            .slick-list,
            .slick-track {
                height: 100%;
            }
        }
        .slick-list {
            overflow: visible;
            @media(max-width: 991px) {
                margin-left: -8px;
            }
        }
        .slick-slide {
            padding: 0 20px;
            > div {
                height: 100%;
                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .list-vantaggi-item {
            position: relative;
            border: 1px solid #73B810;
            border-radius: 8px;
            width: 610px;
            max-width: 28vw;
            background-color: $white;
            height: 100%;
            padding: 5rem 5rem 4rem;
            min-width: 300px;
            .num {
                font-size: 50px;
                color: #ECECEC;
                position: absolute;
                right: 20px;
                top: 20px;
                font-weight: 300;
            }
            p {
                line-height: 1.2em;
            }
        }
    }
    .bg-icon {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $theme-color;
        position: absolute;
        @media(min-width: 992px) {
            width: 80%;
            left: 20%;
        }
        svg {
            position: absolute;
            right: 0;
            top: 0;
            max-height: 100%;
        }
    }
    .slick-arrow {
        position: absolute;
        top: -90px;
        background-color: $white;
        font-size: 0;
        color: transparent;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        &.slick-next {
            left: 800px;
            margin-left: 19px;
            @media(min-width: 1480px) {
                left: 800px;
                margin-left: 19px;
            }
            @media(min-width: 1880px) {
                left: 800px;
                margin-left: 65px;
            }
            @media(min-width: 2150px) {
                left: 800px;
                margin-left: 85px;
            }
            &:after {
                content: "\f105";
                font: 40px/1 'FontAwesome';
                color: $theme-color;
            }
        }
        &.slick-prev {
            left: 800px;
            margin-left: -64px;
            @media(min-width: 1480px) {
                left: 800px;
                margin-left: -64px;
            }
            @media(min-width: 1880px) {
                left: 800px;
                margin-left: -14px;
            }
            @media(min-width: 2150px) {
                left: 800px;
                margin-left: 14px;
            }
            &:after {
                content: "\f104";
                font: 40px/1 'FontAwesome';
                color: $theme-color;
            }
        }
        &:hover {
            background-color: $theme-color2;
            &:after {
                color: $white;
            }
        }
    }
}

.content-servizi {
    .list-titolo_e_testo-item {
        margin-bottom: 20px;
    }
    .cont-wrap {
        color: $white;
        background: $theme-color;
        box-shadow: 4px 4px 0 0 #CCE1A6;
        border-radius: 8px;
        height: 100%;
        padding: 10px 20px;
        .num {
            font-size: 100px;
            color: #CCE1A6;
            line-height: 100px;
            display: block;
            text-align: right;
            font-weight: 700;
        }
    }
}
.list-vantaggi_strategici_elenco-item {
    position: relative;
    padding-left: 78px; 
    line-height: 1.2em;
    padding-top: 20px;
    svg {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(1, 73, 145, 0.9);
    .modal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        max-width: 90%;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid $theme-color;
        padding: 2rem 5rem;
        .lk-close {
            border: 3px solid $theme-color;
            position: absolute;
            right: -5px;
            top: -30px;
            width: 25px;
            height: 25px;
            background-color: #fff;
            text-align: center;
            line-height: 20px;
            color: transparent;
            font-size: 0px;
            overflow: hidden;
            transition: all 0.4s;
            &:before {
                content: "";
                width: 30px;
                height: 2px;
                background-color: $theme-color;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%) rotate(48deg);
            }
            &:after {
                content: "";
                width: 30px;
                height: 2px;
                background-color: $theme-color;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%) rotate(-48deg);
            }
            &:hover {
                background-color: $theme-color;
                &:before,
                &:after {
                    transition: all 0.4s;                    
                    background-color: #fff;
                }                
            }
        }
        h2 {
            color: $theme-color;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 18px;
        }
    }
}