$black: #000000;
$theme-color: #73b810;
$theme-color2: #94D93D;
$light-color: #F6F6F6;
$light-gray: #EFEFEF;
$medium-gray: #C6C5C5;
$medium-gray-2: #CECDCD;
$normal-gray: #4A4A4A;
$dark-gray: #060606;
$white: #fff;
